node_modules/
dist/
out/
release/
*.log
.DS_Store
.env
.env.local
.env.*.local
coverage/
*.db
*.db-journal
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
Thumbs.db
*.map
*.tsbuildinfo
